# Python
__pycache__/
*.py[cod]
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Data (NEVER commit large datasets)
data/
!data/.gitkeep

# Models (Optional: don't commit large binaries if >100MB)
*.pkl
*.h5
*.joblib